* {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: calc(2*min(4vh, 4vw));
    font-weight: 200;
    margin: 0;
}

body {
    display: grid;
    height: 100vh;
    place-items: center; 
}

main {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: min(2vh, 2vw);
    height: min(100vh, 100vw);
    width:  min(100vh, 100vw);
    transform: scale(0.7);
}

.cel {
    background-color: rgb(226, 216, 122);
    border-radius: min(1vh, 1vw);
    display: grid;
    margin: 0;
    place-items: center; 
}

.newGameButton {
    border-width: 0;
    border-radius: min(1vh, 1vw);
    font-size: calc(2*min(2vh, 2vw));
    position: absolute;
    top: 20px;
    left: 20px;
    outline: 1rem;
    transition: 0.2s ease-in;
    background-color: rgb(169, 169, 255);
}
.newGameButton:hover {
    box-shadow: -6px 6px 4px 2px rgba(0, 0, 0, 0.253);
    transform: translateY(-10px);
    transform: translateX(10px);
}