* {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: calc(2 * min(4vh, 4vw));
  font-weight: 200;
  margin: 0;
}

body {
  display: grid;
  height: 100vh;
  place-items: center;
}

main {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: min(2vh, 2vw);
  height: min(100vh, 100vw);
  width: min(100vh, 100vw);
  transform: scale(0.7);
  border-radius: min(3vh, 3vw);
  overflow: hidden;
  background: rgb(187, 187, 187);
  border: min(2vh, 2vw) solid rgb(187, 187, 187);
}

.cel {
	transition: 0.2s cubic-bezier(.82,.08,.23,1.01);
  background-color: #be9a22;
  border-radius: min(0.5vh, 0.5vw);
  display: grid;
  margin: 0;
  place-items: center;

  background-color: #be9a22;
  border-radius: min(3vh, 3vw);
  /* border: 5px solid rgb(0, 0, 0); */
}

.cel:empty {
  background-color: rgb(145, 145, 145);
}

.newGameButton {
  border-width: 0;
  border-radius: min(1vh, 1vw);
  font-size: calc(2 * min(2vh, 2vw));
  position: absolute;
  top: 20px;
  left: 20px;
	transition: 0.3s cubic-bezier(.82,.08,.23,1.01);
  background-color: rgb(169, 169, 255);
}

.newGameButton:hover {
  box-shadow: -6px 6px 4px 2px rgba(0, 0, 0, 0.253);
  transform: translateY(-10px);
  transform: translateX(10px);
  border-radius: 5px;
}
